@use "../../../../utils/_colors.utils.scss" as COLORS;
@use "../../../../utils/_center.utils.scss" as CENTER;
@use "../../../../utils/font.utils.scss" as FONT;

.forgot-password-link {
  display: flex;
  justify-content: end;
}

.forgot-password {
  @extend %bold-text;
  text-decoration: underline;
  font-size: 0.8rem;
  color: COLORS.$darker-primary;
}
