<app-central-card>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <app-custom-input
      label="First Name"
      type="text"
      id="firstName"
      name="firstName"
      formControlName="firstName"
    />
    <app-custom-input
      label="Last Name"
      type="text"
      id="lastName"
      name="lastName"
      formControlName="lastName"
    />
    <app-custom-input
      label="Username"
      type="text"
      id="username"
      name="username"
      formControlName="username"
    />
    <app-custom-input
      label="Email"
      type="email"
      id="email"
      name="email"
      formControlName="email"
    />
    <app-custom-input
      label="Password"
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    <app-custom-input
      label="Confirm password"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      formControlName="confirmPassword"
    />
    <app-custom-button text="Register" type="submit" />
  </form>
</app-central-card>
