<div class="login-container">
  <div class="centered-square">
    <div class="header">
      <h2 class="title">Welcome to MoneyMaster</h2>
      <p class="subtitile">Sign in to planning you financial</p>
    </div>
    <form action="" method="post" class="form">
      <!-- email input -->
      <div class="email-container">
        <!-- for is the atribute the will refereces/link with a input id -->
        <label for="email" class="email-label">Email Address</label>
        <!-- type: is used to show to the browser what type of value the user will provide.
         using the email as example, the keyboard will show the @ for the user-->
        <!-- id: is used as referece to get access to the input or be uses as reference/link by the label -->
        <!-- name: is used as property name for the server. -->
        <input
          class="email-input"
          type="email"
          id="email"
          name="email"
          placeholder="you@example.com"
          required
        />
      </div>

      <div class="password-container">
        <label for="password" class="password-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="*******"
          required
        />
      </div>
      <div class="forgot-password-link">
        <a class="forgot-password">Forgot your password?</a>
      </div>
      <div>
        <button type="submit" class="submit-button">Sign In</button>
      </div>
    </form>
  </div>
</div>
