@use "../../../../utils/colors.utils" as COLORS;
@use "../../../../utils/_center.utils.scss" as CENTER;
@use "../../../../utils/font.utils" as FONT;

button[type="button"],
button[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  @extend %regular-text;
  background: none;
  border: none;
}

label {
  @extend %regular-text;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0rem;
}

form {
  display: grid;
  row-gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, $alpha: 0.1);
}

.header {
  display: flex;
  columns: row;
  justify-content: space-between;
  margin: 2rem 0rem;
  gap: 1.3rem;

  h1 {
    @extend %title-text;
  }
  ng-icon {
    width: 2rem;
    height: 2rem;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: COLORS.$outline;
    }
  }
}

.delete-budget-category {
  background: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0.25rem;
  ng-icon {
    color: COLORS.$normal-text;
    width: 2rem;
    height: 2rem;
    transition: color 0.2s ease-in-out;
  }
  &:hover ng-icon {
    color: COLORS.$alert;
  }
}

.editable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  @extend %regular-text;
  input {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: #f1f5f9;
  }
}

.identifier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  input {
    width: 100%;
  }
}
.summary-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
}

.summary-info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  background-color: #f1f5f9;
  input {
    font-size: 1.35rem;
    font-weight: bold;
  }
}

.add-fixed-cost {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    @extend %bold-text;
  }

  button {
    background-color: COLORS.$primary;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 50%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @extend %bold-text;
    font-size: 1rem;
    color: #ffffff;
    gap: 1rem;
    ng-icon {
      align-self: center;
    }
  }
}

.fixed-cost-container {
  background: none;
}

.fixed-cost {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  background-color: #f1f5f9;
  gap: 1rem;
  margin-bottom: 1rem;
  label {
    color: COLORS.$normal-text;
    font-size: 0.9rem;
  }
  input {
    border: 1px solid #e2e8f0;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
  }

  button {
    margin-left: 1rem;
    align-self: flex-start;
  }
}

.fixed-cost-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.no-fixed-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dashed #e2e8f0;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #f1f5f9;
  padding: 3rem;
  p {
    @extend %regular-text;
    font-size: 0.9rem;
    color: COLORS.$normal-text;
  }
}

.action-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  button[type="button"] {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: #f1f5f9;
    @extend %bold-text;
    color: COLORS.$normal-text;
  }
  button[type="submit"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: COLORS.$primary;
    border-radius: 0.5rem;
    padding: 0.5rem;
    @extend %bold-text;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    ng-icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

.delete-icon {
  color: COLORS.$alert;
}
