<app-central-card>
  <form [formGroup]="budgetCategoryForm" (ngSubmit)="onSubmit()">
    <div formArrayName="budgetCategories">
      @for(budgetCategory of budgetCategories.controls; track $index){
      <div [formGroupName]="$index" class="input-container">
        <!-- <div class="category-icone">
          <img src="" />
        </div> -->
        <app-custom-input
          type="text"
          placeholder="Name"
          formControlName="name"
        />
        <app-custom-input
          type="number"
          placeholder="Percentage"
          formControlName="percentage"
        />

        <button
          type="button"
          (click)="removeCategory($index)"
          class="delete-icon"
        >
          <ng-icon name="heroXMarkSolid" />
        </button>
      </div>
      }
    </div>
    <div class="container-btn">
      <app-custom-button
        type="button"
        (click)="addNewCategory()"
        text="Add Category"
      />
      <!-- disabled="budgetCategoryForm.invalid" -->
      <app-custom-button type="submit" text="Save" />
    </div>
  </form>
</app-central-card>
