// background color
$bg: #f8fafc;

//background contrast
$bg-card: #ffff;

//primary color
$primary: #18b852;

//primary color darker(for hover)
$darker-primary: #116931;

// //primary color lighter
// $lighter-primary: #1ff56e;

//text color - main text
$main-text: #0f172a;

//second text color
$normal-text: #64748b;

// Borders & Dividers
$outline: #1ff56e;

//error or feedback
$alert: #ef4444;
