<div class="container">
  <div class="centered-square">
    <div class="user-inputs">
      <app-back-button class="back-button" />
      <div class="header">
        <h2 class="title">Welcome to MoneyMaster</h2>
        @if(subtitle === "true"){
        <p class="subtitle">Register to start planning you financial</p>
        }
      </div>
      <ng-content></ng-content>
    </div>
    <div class="banner-container">
      <img src="images/login-banner.png" alt="" class="login-banner" />
    </div>
  </div>
</div>
