@use "../../../../utils/_colors.utils.scss" as COLORS;
@use "../../../../utils/_center.utils.scss" as CENTER;
@use "../../../../utils/font.utils.scss" as FONT;

.welcome-text {
  @extend %regular-text;
  text-align: center;
  margin: 1rem;
}

.btn-container {
  margin: 2rem 4rem 0rem 4rem;
}
