@use "../../../utils/_colors.utils.scss" as COLORS;
@use "../../../utils/_center.utils.scss" as CENTER;
@use "../../../utils/font.utils.scss" as FONT;

.container {
  @include CENTER.flex-center;
  width: 100%;
  min-height: 100vh;
  background-color: COLORS.$bg;
}

.central-square {
  display: flex;
  padding: 2rem;
  background-color: COLORS.$bg-card;
  width: 30%;
  /* For larger screens, like desktop, it will expand to the set width, preventing from excessive expanding */
  max-width: 960px;
  /* For smaller screens, like mobile, it will expand to the maximun size*/
  min-height: 420px;

  border-radius: 1rem;
  // it keeps the image inside the rounded corners
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  @extend %title-text;
  font-size: 3.5rem;
  justify-self: flex-start;
}

.question {
  display: flex;
  flex-direction: column;
  h2 {
    @extend %regular-text;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.btn {
  width: 50%;
}

.budgetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
