<div class="container">
  <div class="central-square">
    <form
      [formGroup]="budgetForm"
      (ngSubmit)="createBudget()"
      class="budgetForm"
    >
      <h1 class="title">Let's get Started!</h1>
      <div class="question">
        <h2>What is your monthly income?</h2>
        <app-custom-input
          id="monthlyIncome"
          name="monthlyIncome"
          formControlName="monthlyIncome"
        />
      </div>
      <div class="btn">
        <app-custom-button text="Next" type="submit" />
      </div>
    </form>
  </div>
</div>
